.idea/*
/node_modules
/public/*
!/public/index.php
/storage/*.key
/vendor
/.history
.history
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/app.js
/public/css/app.css
/public/admin/js/app.js
/public/admin/css/app.css
*.rdb
docker/storage/redis/data/dump.rdb
/public/mix-manifest.json
*.gz
.DS_Store
.php-cs-fixer.cache
