$columns: 12;
$gutter: 16px;

$xxl: 1920px;
$xl: 1440px;
$lg: 1366px;
$md: 1280px;
$sm: 768px;
$xs: 360px;

@mixin make-col($prefix: "") {
    @for $i from 1 to $columns + 1 {
        $columnWidth: percentage(($i / $columns));
        .col#{$prefix}-#{$i} {
            flex: 0 0 auto;
            margin-right: $gutter;
            width: calc(#{$columnWidth} - #{$gutter});
        }
    }
}

@mixin make-offset($prefix: "") {
    @for $i from 0 to $columns + 1 {
        @if $i == 0 {
            .offset#{$prefix}-#{$i} {
                margin-left: 0;
            }
        } @else {
            .offset#{$prefix}-#{$i} {
                margin-left: percentage($i / $columns);
            }
        }
    }
}

.container {
    box-sizing: border-box;
    width: 1236px;
    margin: 0 auto;

    @media screen and (max-width: 1280px) {
        width: 964px;
    }
    @media screen and (max-width: 768px) {
        width: 335px;
    }

    &--no-gutters {
        [class^="col"] {
            margin-right: 0;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    [class^="col-"]:last-child {
        margin-right: 0;
    }
}

.row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.va-center {
    align-items: center;
}

.va-top {
    align-items: flex-start;
}

.va-bottom {
    align-items: flex-end;
}

.ha-center {
    justify-content: center;
}

.ha-left {
    justify-content: flex-start;
}

.ha-right {
    justify-content: flex-end;
}

.ha-between {
    justify-content: space-between;
}

.ha-around {
    justify-content: space-around;
}

@include make-col();
@include make-offset();

@media screen and (max-width: $xxl) {
    @include make-col("-xxl");
    @include make-offset("-xxl");
}

@media screen and (max-width: $xl) {
    @include make-col("-xl");
    @include make-offset("-xl");
}

@media screen and (max-width: $lg) {
    @include make-col("-lg");
    @include make-offset("-lg");
}

@media screen and (max-width: $md) {
    @include make-col("-md");
    @include make-offset("-md");
}

@media screen and (max-width: $sm) {
    @include make-col("-sm");
    @include make-offset("-sm");
}

@media screen and (max-width: $xs) {
    @include make-col("-xs");
    @include make-offset("-xs");
}
