// --------------------------------
// Colors
// --------------------------------

$light: #f1f1f1;
$white: #ffffff;
$dart: #1d1d1d;
$accent: #f58827;
$gray: #a1a1a1;

// --------------------------------
// Fonst
// --------------------------------

$main_ff: "Roboto Condensed";
$accent_ff: "Raleway";
