// --------------------------------
// Colors
// --------------------------------

$white: #ffffff;
$cream-white: #fbfbfb;

$gray: #d7d7d7;

$black: #000000;
$black-2: #141415;

$green: #4ea62f;
$light-green: #eeffe9;

$red: #e10707;

$blue-700: #001E34;
// --------------------------------
// Fonts
// --------------------------------

$bebas: "Bebas Neue", sans-serif;
$oswald: "Oswald", sans-serif;
$roboto: "Roboto", sans-serif;
$roboto-c: "Roboto Condensed", sans-serif;
$roboto-mono: "Roboto Mono";