.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 5 / 2;
}

.div2 {
    grid-area: 1 / 2 / 3 / 5;
    margin-bottom: 70px;
}

.div3 {
    grid-area: 3 / 2 / 5 / 3;
}

.div4 {
    grid-area: 3 / 3 / 5 / 4;
}

.div5 {
    grid-area: 3 / 4 / 5 / 5;
}

.wrapper {
    max-width: 1054px;
    margin: 0 auto;
}
.heading-lead {
    @include oswald-400;
    color: #000;
    font-size: 24px;
    font-style: normal;

    line-height: normal;
    font-variant: all-small-caps;
    @include mobile {
        font-size: 36px;
        font-variant: normal;
    }
}

.heading {
    color: #000;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: all-small-caps;
    @include mobile() {
        font-size: 18px;
        font-variant: normal;
    }
}

.text {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

    p {
        margin-bottom: 8px;
    }

    @include mobile {
        font-size: 14px;
    }
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__text {
    color: #000;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: all-small-caps;
}

.buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include mobile {
        margin-top: 28px;
    }
}
.card__link--green {
    background-color: #4ea62f !important;
    border: 1px solid #4ea62f !important;
}

.icon--green {
    color: #4ea62f !important;
}

.card__link {
    width: 225px;
    height: 64px;
    border-radius: 30px;

    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 36px;
    padding-right: 7px;

    border: 1px solid black;
    background-color: black;
    color: #fff;
    @include roboto-c-500;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.3s all ease-in-out;

    @include mobile {
        padding-left: 27px;
        font-size: 14px;
        width: 165px;
        height: 36px;
    }
}

.card__link:hover {
    background-color: white;
    color: black;
}

.path {
    /* color: black; */
}

.icon {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    color: black;
    background-color: white;
    border-radius: 50%;

    transition: transform 0.3s ease-in-out;

    @include mobile() {
        width: 28px;
        height: 28px;
    }
}

.card__link:hover .icon {
    transform: rotate(-135deg);
}

@media screen and (max-width: 780px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 15px;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 3;
        margin-bottom: 25px;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div4 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .div5 {
        grid-area: 4 / 1 / 5 / 3;
    }

    .buttons {
        flex-direction: row;
    }

    .mobile-none {
        display: none;
    }
}
