.layout__offer-section {
    display: flex;
    flex-direction: column;
    // flex: 1;
    padding: 40px 0;
}

.offer-section {
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @include mobile() {
            flex-direction: column;
            gap: 40px;
        }
    }

    &__name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;

        // @include mobile() {
        //     margin-bottom: 20px;
        // }
    }

    &__font {
        &--company {
            @include oswald-500();
            font-size: 130px;
            line-height: 100px;
            color: $green;
            text-transform: uppercase;

            @include mobile() {
                font-size: 86px;
                line-height: 50px;
            }
        }

        &--about {
            @include bebas-400();
            font-size: 86px;
            color: $black;

            @include mobile() {
                font-size: 56px;
                margin-top: 6px;
            }
        }
    }

    &__block {
        &--left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile() {
                align-items: center;
            }
        }

        &--right {
            max-width: 600px;
            width: 100%;
            height: 293px;
        }
    }

    &__link {
        border: none;
        @include link(225px, 64px, $white, $black, $black, $white);

        &--icon {
            @include icon(50px, 50px);
        }
    }
}

.offer-section--desktop {
    @include mobile() {
        display: none;
    }
}

.offer-section--mobile {
    display: none;

    @include mobile() {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}

.offer-section__block {
    @include mobile() {
        width: 90%;
    }
}
