.price-card {
  max-width: 337px;
  min-height: 482px;

  background-color: white;
  border-radius: 30px;
}

.price-card-content {
  display: flex;
  flex-direction: column;
  gap: 35px;

  padding: 25px 52px;
}

.price-card-content__top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-card-content__top--old {
  color: #000;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: line-through;
}

.price-card-content__top--actual {
  color: #4ea62f;
  font-family: Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.price-card-content__top--service {
  color: #000;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price-card__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: disc;
}

.price-card__list--item {
  color: #000;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 20px;

  list-style-image: url("list.svg");
}

.price-card__link {
  @include link(225px, 46px, $white, $black, $black, $white);
  &--icon {
    @include icon(32px, 32px);
  }
}

.price-card__bottom-link {
  align-self: center;
  color: #000;
  font-family: Roboto Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cards__rotated {
  writing-mode: vertical-rl;
  display: flex;
  align-self: center;
  color: #efefef;
  font-family: Oswald;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
