.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.swiper-slide {
  width: 85px;
}
.slide__content {
  display: flex;
  //   place-items: center;
  align-items: center;

  color: $black;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;

  line-height: normal;
}

.ticker {
  width: 100vw;
  padding: 15px 0;

  background-color: $light-green;
}
