.offer-section {
  margin-top: 100px;
  margin-bottom: 160px;

  display: flex;
  justify-content: space-between;
  &__left {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__left--name {
    @include bebas-400;
    color: $black;

    font-size: 96px;
    font-style: normal;

    line-height: normal;

    @include mobile() {
      font-size: 64px;
    }
  }

  &__link--icon {
  }

  &__right {
  }
}
.link {
  @include link(225px, 64px, $white, $black, $black, $white);
  &__icon {
    @include icon(50px, 50px);
  }

  &__icon--path {
  }
}
.green {
  color: $green;
}

.skill-cards {
  display: flex;
  gap: 8px;
  &__card {
    width: 128px;
    height: 122px;
    border-radius: 30px;
    background-color: $black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__card--head {
    padding-left: 15px;
    color: $white;
    @include oswald-700;
    font-size: 36px;
    font-style: normal;

    line-height: normal;
  }

  &__card--body {
    text-align: center;
    color: $white;
    @include oswald-400;
    font-size: 14px;
    font-style: normal;
    line-height: 16px; /* 114.286% */
  }
}
